/* Write your CSS here */
.event-image {
  width: 100px;
  height: 100px;
}
.event-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.event-name {
  font-size: 20px;
}
.event-location {
  font-size: 15px;
}
